@font-face {
    font-family: 'TomsHandwritten';
    src: url('../fonts/toms/280747_0_0.eot');
    src: url('../fonts/toms/280747_0_0.eot') format('embedded-opentype'), url('../fonts/toms/280747_0_0.woff') format('woff'), url('../fonts/toms/280747_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NinjamockBasic';
    src: url('../fonts/Basic/Basic.eot');
    src: url('../fonts/Basic/Basic.eot') format('embedded-opentype'), url('../fonts/Basic/Basic.woff') format('woff'), url('../fonts/Basic/Basic.svg#Basic') format('svg'), url('../fonts/Basic/Basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, .container, .container-inner {
    height: 100%;
}

.content-wrapper {
    min-height: 100%;
    box-sizing: border-box;
    margin-bottom: -53px;
}

.content-wrapper:after {
    content: "";
    height: 53px;
    display: block;
}

body * {
    font-family: 'TomsHandwritten';
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*region bootstap override*/

.btn {
    background: #fff;
    border: 1px solid #686868;
    padding: 0;
    border-radius: 4px;
    font-size: 22px;
    color: #515151;
    overflow: hidden;
}

.navbar.navbar-default {
    background: #eee;
}

.navbar-default .navbar-nav > li > a {
    font-size: 22px;
    color: #0088cc;
}

.navbar li.active {
    background: #ccc;
}

.navbar li.active a {
    color: #515151;
    background: #ccc;
}

/*endregion bootstrap override*/

/*region header*/

.who-am-i {
    padding: 0 16px;
    text-align: center;
}

.who-am-i .btn {
    width: 200px;
    font-size: 26px;
    margin-top: 8px;
}

.hero-btn {
    float: left;
}

.regular-btn {
    float: right;
}

.who-am-i-text {
    font-size: 38px;
}

tags-input .tags .input {
    font-family: 'TomsHandwritten';
    font-size: 22px;
}

tags-input .host {
    text-align: center;
}

tags-input .tags {
    border-radius: 4px;
    display: inline-block;
    width: 94%;
    border-bottom-color: #686868;
}

.compas-icon {
    font-size: 18px;
    font-family: NinjamockBasic;
    text-align: center;
    color: #515151;
}

.map-controls .btn {
    margin-right: 10px;
    padding: 0 10px;
}

.style-button.active{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 204, .6);
}

/*endregion header*/

/*region searcharea*/

#map {
    margin: 20px 0;
    height: 280px;
    width: 100%;
}

.tags-list {
    padding: 0;
    margin: 0;
}

.tags-list li {
    list-style: none;
    padding: 0;
    margin: 0;

}

.tags-list .tag {
    background: #fff;
    color: #515151;
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 5px 0;
}

.tags-list .tag:hover, .tags-list .tag:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 136, 204, .6);
}

tags-input .tags .tag-item {
    font-size: 20px;
}

ul.tweets-log {
    list-style-type: none;
    padding: 0;
    margin: 20px auto 0;
    width: 95%;
}

li.tweet {
    border: 1px solid #686868;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    margin-bottom: 8px;
    height: 120px;
}

.tweet-pic {
    margin: 4px;
    float: left;
}

.tweet-text {
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 10px;
    width: 80%;
}

.tweet-text-name {
    display: block;
    font-size: 24px;
}

.tweet-text-content {
    display: block;
    font-size: 20px;
}

.tweet-time{
    position: absolute;
    right: 50px;
    top: 10px;
    font-size: 16px;
}

.tweet-controls{
    position: absolute;
    bottom: 5px;
    right: 10px;
    background: url('../images/tweet-buttons.png') no-repeat;
    width: 220px;
    height: 15px;
    background-size: 100% auto;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .5s ease-in;
}

li.tweet:hover .tweet-controls{
    opacity: 1;
}

.close-icon {
    width: 24px;
    height: 10px;
    line-height: 10px;
    font-size: 8px;
    font-family: 'NinjamockBasic';
    font-style: normal;
    text-align: center;
    color: #515151;
}

.tweet .close-icon {
    position: absolute;
    right: 10px;
    top: 20px;
}

.custom-paging {
    text-align: center;
}

.custom-paging a {
    font-size: 20px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #555;
    background-color: #ccc;
    border-color: #ccc;
}

/*endregion searcharea*/

/* region footer*/

footer .navbar {
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

.copyright {
    font-size: 18px;
    margin: 13px 0;
    display: inline-block;
}

#shareContainer {
    float: right;
    margin: 10px 0 0;
    position: absolute;
    right: 20px;
}

#shareContainer li {
    display: inline-block;
    margin-left: 8px;
}

#shareContainer li a {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('../images/spritesheet-share-icons.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    border-radius: 4px;
}

#shareContainer li a.facebook {
    background-position: left top;
}

#shareContainer li a.twitter {
    background-position: -40px top;
}

#shareContainer li a.pinterest {
    background-position: -80px top;
}

#shareContainer li a.googleplus {
    background-position: -120px top;
}

#shareContainer li a.instagram {
    background-position: -160px top;
}

#shareContainer li a.youtube {
    background-position: -200px top;
}

#shareContainer li a.linkedin {
    background-position: -240px top;
}

#shareContainer li a.rss {
    background-position: left -112px;
}

#shareContainer li a.facebook:hover {
    background-position: left -40px;
}

#shareContainer li a.twitter:hover {
    background-position: -40px -40px;
}

#shareContainer li a.pinterest:hover {
    background-position: -80px -40px;
}

#shareContainer li a.googleplus:hover {
    background-position: -120px -40px;
}

#shareContainer li a.instagram:hover {
    background-position: -160px -40px;
}

#shareContainer li a.youtube:hover {
    background-position: -200px -40px;
}

#shareContainer li a.linkedin:hover {
    background-position: -240px -40px;
}

#shareContainer li a.rss:hover {
    background-position: left -152px;
}

/* endregion footer*/

.avatar {
    width: 200px;
    height: 174px;
    margin: 0 auto;
    background: center center no-repeat;
    background-size: 100% 100%;
}

.avatar.hero {
    background-image: url("../images/hero.jpg");
}

.avatar.regular {
    background-image: url("../images/regular.jpg");
}