<div data-ng-show="totalItems>paging.numPerPage" class="custom-paging form-inline centered-text">
	<div data-pagination
		 data-total-items="totalItems"
		 data-items-per-page="paging.numPerPage"
		 data-ng-model="paging.currentPage"
		 data-max-size="paging.maxSize"
		 data-boundary-links="true"
		 class="custom-paging-item pagination"></div>
	<select data-ng-model="paging.numPerPage" class="custom-paging-item form-control">
		<option data-ng-repeat="numPerPage in paging.itemsPerPage track by $index"
				value="{{numPerPage}}">
			{{numPerPage}}
		</option>
	</select>
</div>