<div class="content-wrapper">
    <header>
        <nav id="_2" class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li class="active">

                        <a id="_3" href="#">Home</a>
                    </li>
                    <li>

                        <a id="_4" href="#">My Profile</a>
                    </li>
                    <li>

                        <a id="_5" href="#">Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <nav class="who-am-i navbar navbar-default">
                <button class="btn hero-btn style-button" data-ui-sref="home.hero" data-ui-sref-active="active">Batman</button>
                <span class="who-am-i-text">Who am I?</span>
                <button class="btn regular-btn style-button" data-ui-sref="home.regular" data-ui-sref-active="active">Bruce Wayne</button>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div data-ui-view></div>
        </div>
    </div>
</div>
<footer>
    <nav class="navbar navbar-default" role="navigation">


        <div id="shareContainer">
            <ul>
                <li><a href="http://www.facebook.com/sharethis" class="facebook">&nbsp;</a></li>
                <li><a href="http://twitter.com/sharethis" class="twitter">&nbsp;</a></li>
                <li><a href="http://www.linkedin.com/company/sharethis" class="linkedin">&nbsp;</a></li>
                <li><a href="http://www.sharethis.com/feed" class="rss">&nbsp;</a></li>
            </ul>
        </div>
        <span class="copyright">&copy Greenhopper team 2014</span>
    </nav>
</footer>




