<div class="row">
	<div class="col-xs-12">
		<div class="search-box">
			<div data-tags-filter
				 data-tags-query="tagsQuery"
				 data-tags="tags"></div>
            </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="map"></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="text-right map-controls">
			<button class="btn btn-default">Clear Map</button>
			<button class="btn btn-default"><i class="compas-icon">e</i>  My Location</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<ul class="tweets-log">
			<li data-ng-repeat="tweet in filteredTweets = (tweets | tagsFilter:tagsQuery | reverse) | pagingFilter:paging" class="tweet">
				<img src="{{tweet.pic}}" class="tweet-pic">
                <div class="tweet-text">
                    <span class="tweet-text-name">{{tweet.user_name}}: <a href="#">@{{tweet.screen_name}}</a><span class="tweet-time">{{tweet.created_at | date:'hh:mm:ss'}}</span></span>
                    <span class="tweet-text-content">{{tweet.text}}</span>
                </div>
                <i class="close-icon"></i>
                <span class="tweet-controls"></span>
			</li>
		</ul>
		<div data-custom-paging="paging"
			 data-total-items="filteredTweets.length"></div>
	</div>
</div>







